* {
  text-align: center;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

body,
html {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Category {
  background-image: url("catImages/Newspaper.jpg");
  height: 100%;
}

.Business {
  background-image: url("catImages/Stonks.jpg");
  height: 100%;
}

.Entertainment {
  background-image: url("catImages/Entertainment.jpg");
  height: 100%;
}

.General {
  background-image: url("catImages/General.jpg");
  height: 100%;
}

.Health {
  background-image: url("catImages/Health.jpg");
  height: 100%;
}

.Science {
  background-image: url("catImages/Sci.jpg");
  height: 100%;
}

.Sports {
  background-image: url("catImages/Bjj.jpg");
  height: 100%;
}

.Technology {
  background-image: url("catImages/Tech.jpg");
  height: 100%;
}

#display {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 800px;
  min-height: 100px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.6)
    /* background-color: rgba(255, 255, 255, 0.6); */
}

#display a {
  text-decoration: none;
  border: 1px solid black;
  margin: 15px;
  padding: 10px;
  color: rgba(255, 255, 255, 1);
  /* color: rgba(0, 0, 0, 1); */
}

.hidden {
  visibility: hidden;
}

#btnhldr {
  position: relative;
  top: 150px;
}

#Prev,
#Next {
  position: relative;
}

#Prev {
  right: 100px;
  min-width: 125px;
  height: 35px;
}

#Next {
  left: 100px;
  min-width: 125px;
  height: 35px;
}